@model IEnumerable<HOSPISIM.Models.Especialidade>

@{
    ViewData["Title"] = "Especialidades";
}

<h1>Especialidades</h1>

<p>
    <a class="botao-link" asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" class="botao-link" asp-route-id="@item.Id">Editar</a>
                <a asp-action="Details" class="botao-link" asp-route-id="@item.Id">Detalhes</a>
                <a asp-action="Delete" class="botao-link delete"asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
