@model IEnumerable<HOSPISIM.Models.Prontuario>

@{
    ViewData["Title"] = "Prontuario";
}

<h1>Prontuario</h1>

<p>
    <a class="botao-link" asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDoProntuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeAbertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacoesGerais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDoProntuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeAbertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObservacoesGerais)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Paciente.NomeCompleto)
            </td>
            <td>
                <a class="botao-link" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a class="botao-link" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                <a class="botao-link delete" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
